.categorie_img {
    width: 360px;
    height: 150px;
    object-fit: cover;
    padding-bottom: 1.5rem !important;
    /* border-radius: 0.5rem; */
}
.categorie_item_img {
    /* height:300px; */
    width: 170px !important;
    height: 150px !important;
    object-fit: fill !important;
}
.shop_of_z_day {
    width: 1000px;
    height: 470px;
}
.info_shop_slider {
    width: 450px;
    height: 400px;
}
.foot {
    padding-top: 1rem;
}
.card-img-top {
    width: 100%;
    height: 300px;
}
/*Mobile design*/
@media screen and (max-width: 992px){
    .card-img {
        border-radius: 1rem !important;
    }
    .pb-13 {
        padding-bottom: 2rem !important;
    }
    /* index Page */

    .index_head .heading .mb-0 {
        padding-top: 85px !important;
        font-size: 25px !important;
        letter-spacing: -0.05em;
        text-align: center;
    }
    .front-search{
        visibility: hidden;
    }
    .home-automotive-service .banner .heading h1 {
        font-size: 30px !important;
        letter-spacing: -0.05em;
        text-align: center;
    }
    .home-automotive-service .banner {
      background-image: url("../images/banner/image-1.jpg");
      background-size: cover;
    }
    .home-automotive-service .banner .banner-content {
        height: 250px !important;
        padding-top: 25px !important;
    }
    .home-automotive-service .section .container .row {
        height: 40px;
        padding-top: 25px;
    }
    /* Section Description */
    .section_description {
        padding-top: 1.5rem !important;
        padding-bottom: 2.5rem !important;
    }

    /* Section Coup de coeur Boutique */
    .section_coup_coeur{
        padding-top: 1.5rem !important;
    }
    .card-body {
        height: 75px !important;
    }
    .card-img-top {
        width: 170px !important;
        height: 140px !important;
        /* border-radius: 50% !important; */
    }
    /* Section Categorie des produits */
    .section_categotie {
        padding-bottom: 0.5rem !important;
        padding-top: 1.5rem !important;
    }
    .section_categorie_container {
        width: 33.33% !important;
        height: 33.33% !important;
        margin-bottom: 1rem !important;
    }
    .section_categorie_container_box {
        display: inline !important;
    }
    .section_categorie_container .image-box {
        margin-bottom: 0.5rem !important;
        width: 100%;
    }
    .section_categorie_img {
        width: 350px !important;
        border-radius: 50%;
        height: 100px !important;
        background-size: cover;
    }
    /* Section Boutique recent */
    .section_boutique_recent {
        padding-top: 1.5rem !important;
    }
    .section_blog {
        /* padding-top: 1.5rem !important; */
    }
    .section_blog_text {
        padding-top: 1.5rem !important;
    }
    .categorie_head {
        height: 250px !important;
    }
    .categorie_head .h-100 .mb-0 {
        padding-top: 75px !important;
        font-size: 25px !important;
        letter-spacing: -0.05em;
        text-align: center;
    }
    .section_categorie_head {
        padding-bottom: 0.5rem !important;
        padding-top: 1.5rem !important;
    }
    .section_categorie_card {
        width: 50% !important;
        height: 50% !important;
        margin-bottom: 0rem !important;
    }
    .categorie_item {
        padding-top: 0.5rem !important;
        /* padding-bottom: 0.5rem !important; */
    }
    .equal-height {
        grid-template-columns: repeat(2,1fr) !important;
        width: 50% !important;
        height: 50% !important;
    }
    /* .categorie_item_img {
        height: 100% !important;
        width: 100% !important;
    } */
    .h5 {
        font-size: 0.7rem !important;
        text-align: center;
    }
    .none-display {
        visibility: hidden;
    }
    .categorie_item_card_footer, .cache {
        /* visibility: hidden; */
        display: none;
    }
    .card {
        height: 170px !important;
        object-fit: fill;
    }
    .viewing {
        visibility: hidden;
    }
    .mb-8,
    .my-8 {
      margin-bottom: 1.5rem !important;
    }
    .container {
        overflow: hidden !important;
    }

    /* Shop of the day */
    .shop_of_z_day {
        width: 100% !important;
        height: 100% !important;
    }

    /* Price page */
    .price_head {
        height: 250px !important;
    }
    .price_head .h-100 .mb-0 {
        padding-top: 75px !important;
        font-size: 25px !important;
        letter-spacing: -0.05em;
        text-align: center;
    }
    .price_head_content {
        padding-top: 1.5rem !important;
    }

    /* Blog page */
    .blog_head {
        height: 250px !important;
    }
    .blog_head .h-100 .mb-0 {
        padding-top: 75px !important;
        font-size: 25px !important;
        letter-spacing: -0.05em;
        text-align: center;
    }
    /* Footer */
    .foot {
        padding-top: 0.5rem !important;
    }

    /* Info boutique  */
    .info_shop_slider {
        /* padding-top: 1.6rem; */
        width: 250px !important;
        height: 200px !important;
        object-fit: contain !important;
    }
    .info-card-img-top {
        height: 100px !important;
    }
    .h-100 {
        height: 50% !important;
    }
    .font-size-mobile {
        font-size: 0.9rem !important;
    }
    .font-size-mobile-price {
        font-size: 0.6rem !important;
    }
    .slick-list{
        height: 200px !important;
    }
    .info_name{
        font-size: 20px;
    }
    .pt-8 {
        padding-top: 1.125rem !important;
    }
    .pb-9 {
        padding-bottom: 1.375rem !important;
    }
    .card-image {
        width: 170px !important;
        height: 150px !important;
        object-fit: fill !important;
    }
    .infoboutique-card-image {
        width: 170px !important;
        height: 100px !important;
        object-fit: fill !important;
    }
    /* Info produit */

    .ptop-9 {
        padding-top: 0rem !important;
    }
    .float_whatsapp{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
      font-size:30px;
        box-shadow: 2px 2px 3px #999;
      z-index:100;
    }
    .float_call{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:200px;
        background-color:#f7de1e;
        color:#FFF;
        border-radius:50px;
        text-align:center;
      font-size:30px;
        box-shadow: 2px 2px 3px #999;
      z-index:100;
    }
    .float_message{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:120px;
        background-color:#1e37f7;
        color:#FFF;
        border-radius:50px;
        text-align:center;
      font-size:30px;
        box-shadow: 2px 2px 3px #999;
      z-index:100;
    }

    .my-float{
        margin-top:16px;
    }
    .pb-10 {
      padding-bottom: 0rem !important;
    }
    .info-prod-simi {
        margin-bottom: 1.375rem !important;
    }
    .mb-9{
        margin-bottom: 2rem !important;
    }
    .main-footer {
        padding-bottom: 0rem !important;
    }

    .section_do_you {

    }
    .section_do_you_h2 {
        font-size: 1.5rem;
    }
    .font-size-h5 {
        font-size: 1rem !important;
    }
    .pl-6, .px-6 {
        padding-left: 1rem !important;
    }
    .pr-6, .px-6 {
        padding-right: 1rem !important;
    }
    .pb-3, .py-3 {
        padding-bottom: 0.5rem !important;
    }
    .pt-3, .py-3 {
        padding-top: 0.5rem !important;
    }
    .pb-7, .py-7 {
        padding-bottom: 1.5rem !important;
    }
    .pt-7, .py-7 {
        padding-top: 1.5rem !important;
    }

    /* Page categorie */
    .mb-6, .my-6 {
        margin-bottom: 1rem !important;
    }
    .pb-2 {
        text-align: center;
        padding: 0rem !important;
    }
}
